* {
    font-family: Oxygen, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(28, 59, 80);
}

a:link {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #2F4858;
}

/* Cheatcodes */

.flexc {
    display: flex;
    flex-direction: column;
}

.flexr {
    display: flex;
    flex-direction: row;
}

/* header */

header {
    display: flex;
    position: static;
    justify-content: center;
    background-color: rgb(23, 26, 33);
}

header a {
    margin-left: 2%;
}

header .recherchebar {
    margin-top: 1.5%;
    margin-left: 5%;
}

header input {
    background-color: #86BBD8;
}

.logo {
    width: 100px;
    height: 80px;
}

.underline {
    width: 50%;
    border-bottom: 3px solid #2F485850;
    margin-left: 25%;
    margin-right: 25%;
}

/* articles et article */

.com_article {
    width: 30vw;
}

.article {
    background-color: #CDD5D780;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    border: 1px solid black;
    box-shadow: 9px 3px 40px 17px rgba(0, 0, 0, 0.63);
    padding: 2%;
}

.articles {
    border: 2px solid grey;
    box-shadow: 6px 6px 17px 0px rgba(0, 0, 0, 0.75);
    background-color: grey;
    filter: brightness(45%)
}

.articles:hover {
    filter: brightness(100%)
}

.selectioncategorie {
    display: flex;
    justify-content: center;
}

.selectioncategorie a {
    margin-left: 2%;
}

.allarticles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.imgarticles {
    width: 100%;
    height: 100%;
}

.articles {
    margin-left: 5px;
    margin-right: 5px;
}

/* index */

.titleindex {
    display: flex;
    justify-content: center;
}

.articleindex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

/* inscription */

.inscription {
    background-color: #2F4858;
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 40%;
    margin-top: 18%;
    border: 1px solid black;
    padding: 25px;
}

.inscription input {
    margin-top: 10px;
    background-color: #86BBD8;
}

.inscription label {
    margin-top: 10px;
}

.inscription .logo {
    margin-left: 20%;
}

/* connexion */

.connexion {
    background-color: #2F4858;
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 40%;
    margin-top: 18%;
    border: 1px solid black;
    padding: 25px;
}

.connexion input {
    margin-top: 10px;
    background-color: #86BBD8;
}

.connexion label {
    margin-top: 10px;
}

.connexion .logo {
    margin-left: 20%;
}

/* profil */

/* profil admin */

.form_admin {
    width: 30vw;
}

/* pannier */

/* achat */

.buy {
    background-color: #2F4858;
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    padding: 25px;
}